@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url('../src/images/image1.jpg');
  width: 100%;
  min-height: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  box-sizing: border-box;
}

.mainheading {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}
